var-radio-background = url("../../test/fixtures/img/light-sprites2x.png")
var-font 		= 1em "Source Sans", helvetica, arial, sans-serif
var-font--large = 1.3rem "Source Sans", helvetica, arial, sans-serif
var-font-weight = 200
var-line-height = 21px
var-letter-spacing = 1px
var-vertical-align = top
var-border-radius = 5px

var-radio-offset = - 58px
var-radio-offset--checked = - 39px

var-radio-width = 20px
var-radio-bgsize = var-radio-width

var-radio-height = 18px
var-radio-line-height = var-radio-height

// var-radio-margin = 5px