var-radio-background = url("../../test/fixtures/img/light-sprites2x.png")
var-line-height = 30px
var-height = 31px
var-bg-size = 37px
var-width = var-bg-size
var-label-padding = 0 1.25rem
var-label-margin = 5px
var-border-radius = 5px
var-bg-pos--checked = - 2 * var-bg-size
var-bg-pos = - 3 * var-bg-size + 2