@import input-mixin

/*
 Radio input
 --------

Base styles for radio buttons. The `<label>` needs to be placed after the `<input>` element in the HTML. If you are using `.topcoat-checkbox-label--right`, make sure to set the width, so all the labels are the same width and the controls line up vertically.

- `:disabled` Disabled state
- `.is-disabled` Simulates a disabled state on mobile devices
- `.topcoat-radio-label`
- `.topcoat-radio-label--left` Position the control to the left of the label
- `.topcoat-radio-label--right` Position the control to the right of the label

    <input type='radio' id='example-radio-input'>
    <label for='example-radio-input' class='topcoat-radio-label--left'> Label title </label>

    <input type='radio' id='example-radio-input is-disabled' disabled>
    <label for='example-radio-input' class='topcoat-radio-label--left'> Label title </label>

*/
input[type="radio"]
  display: none

.topcoat-radio-label--left:before,
.topcoat-radio-label--right:after
  background-position left -109px;

input[type="radio"]:checked + .topcoat-radio-label--left:before,
input[type="radio"]:checked + .topcoat-radio-label--right:after
  background-position left -74px


.topcoat-radio-label--left:before,
.topcoat-radio-label--right:after
  content ""
  display inline-block
  width 37px
  height 31px
  background-image var-radio-background
  background-repeat no-repeat
  background-size 37px
  cursor pointer

.topcoat-radio-label--left:before
  margin-right 15px

.topcoat-radio-label--right:after
  margin-left 15px

.topcoat-radio-label--left,
.topcoat-radio-label--right
  box-sizing border-box
  padding 0 1.25rem
  margin 5px
  outline none
  font var-font
  font-weight var-font-weight
  line-height 30px
  vertical-align top
  user-select none
  -webkit-touch-callout none
  -webkit-user-select none

input[type="radio"]:disabled + label
  opacity 0.3
  cursor default
  pointer-events none

input[type="radio"].is-disabled + label,
input[type="radio"].is-disabled + label
  opacity 0.3
  cursor default
  pointer-events none